/*ESTILOS GENERALES*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  font-size: 16px;
  background: #1b1d35;
  color: #fff;
}

/*ESTILOS DEL ARCHIVO ENCABEZADO.PHP*/
a {
  text-decoration: none;
  color: #b8711b;
}
h1 {
  width: 70%;
  max-width: 1000px;
  color: #436ff9;
  margin: 20px auto;
  background: #fff;
  text-align: center;
}
h2{
  width: 40%;
  max-width: 1000px;
  color: #436ff9;
  margin: 20px auto;
  background: #fff;
  text-align: center;
}
nav > ul {
  display: flex;
  justify-content: center;
}
nav li {
  margin: 0 5px;
  padding: 5px;
  text-align: center;
  list-style: none;
  display: inline-block;
}
.menu a {
  text-decoration: none;
  font-size: 30px;
  color: #022799;
}
.menu a:hover {
  color: #436ff9;
  font-weight: bold;
  text-decoration: underline;
}
/*ESTILOS DEL ARCHIVO INDEX.PHP*/
.Escuela {
  width: 100%;
  max-width: 1000px;
  height: 300px;
  margin: 0 auto;
  background-color: #000;
  background-image: url("../img/patioescuela\ .jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

/*ESTILOS DEL ARCHIVO REGISTRARSE.VIEW.PHP */
body.entrada {
  margin: auto;
  padding: 25px;
  background-image: url("../img/entrada.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: auto; 
}
.container {
  max-width: 40%;
  text-align: center;
  margin: 20px auto;
  justify-content: auto;
  background-color: aquamarine;
}
.container h1 {
  background-color: aquamarine;
}
.formulario {
  max-width: 50%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}
.formulario .cont_inputs {
  text-align: center;
  margin: 0;
}
.cont_inputs label {
  /*display: block;*/
  font-size: 20px;
  font-weight: bold;
  color: brown;
  text-align: center;
  margin-bottom: 5px auto;
}
.cont_inputs input {
  width: 50%;
  padding: 5px;
  margin-bottom: 10px;
  border: 2px solid #022799;
  text-align: right;
}
input[type="submit"] {
  grid-column: span 2;
  width: 80%;
  margin: auto;
  display: block;
  font-size: 20px;
  font-weight: bold;
  color: #436ff9;
  background-color: #022799;
  border: 1.5px solid #fff;
  border-radius: 5px;
}
.formulario .input-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}
.formulario .input-group label {
  width: 50%;
  font-size: 20px;
  font-weight: bold;
  color: brown;
  text-align: left;
  margin-right: 5px;
}
.formulario .input-group input {
  width: 50%;
  padding: 5px;
  text-align: left;
  border: 2px solid #022799;
  justify-content: right;
}
.form_registro input[type="submit"]:hover {
  color: #022799;
  background-color: #436ff9;
  cursor: pointer;
}
.error {
  color: red;
  font-weight: bold;
}
.formulario {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.campos-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 10px;
}

.campo {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  font-size: 20px;
}

.campo .icono {
  padding: 4px;
}

.campos-container .campo{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.campo label{
  margin-bottom: 10px;
}
.campo input{
  width: 100%;
  margin-left: auto;
}


.error-container {
  margin-top: 10px;
  font-size: 18px;
}
.campos-container input {
  font-size: 18px;
}

.login {
  width: 50%;
  text-align: center;
}

.tabla{
  margin-bottom: 20px;
}

.mensaje {
  font-size: 25px;
  text-align: center;
  margin-bottom: 35px;
}
